<html>
    <head>
        <style>
            @font-face {
                font-family: 'Roboto';
                src: url('/static/roboto-v29-latin/roboto-v29-latin-regular.ttf') format('truetype');
            }
            body {
                font-family: 'Roboto', Fallback, sans-serif;
                color: white;
                background-color: #87ceeb;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>
    </head>
    <body>
        <h1>Thank you for your response!</h1>
    </body>
</html>